.de2-main-header {
    height: 70px;
    background-color: var(--de2-color-bg-secondary);
    color: var(--de2-color-font-primary);
}

ul {
    padding: 0;
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

.de2-navbar-container {
    display: flex;
    align-items: center;
}

.de2-navbar-right img {
    height: 29px;
    width: 30px;
}